/* MAIN */

main {
    max-width: 1200px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}


.main-content {
    max-width: 700px;
    width: 50%;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 32px 64px;



    background: url('./assets/apelido.jpg.webp') no-repeat center center/contain;
}

.main-sidebar h2 {
    font-size: 2rem;
    margin-bottom: 16px;
}

.main-sidebar {
    background-color: rgba(19, 180, 19, 0.738);
    border: 8px solid rgba(29, 255, 48, 0.738);
    height: 100%;
    width: 22%;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.chat-sidebar {
    height: 100%;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.chat-sidebar__content iframe{
    overflow-y: scroll;
    max-height: 300px;
    max-width: 250px;
}