/* MAIN */

main {
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}


.main-content {
    max-width: 700px;
    width: 50%;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 32px;
    padding: 32px 64px;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 6px solid #37ffbc;
}

.main-content h2 {
    font-size: 2rem;
    margin-bottom: 16px;
}

.main-sidebar {
    background-color: rgb(24, 71, 226);
    height: 100%;
    width: 22%;
}

.main-sidebar.main-sidebar--left {
    background: url('./assets/apelido.jpg.webp') repeat center center/contain;
}

.chat-sidebar {
    height: 100%;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.chat-sidebar__content iframe{
    overflow-y: scroll;
    max-height: 300px;
    max-width: 250px;
}